body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Phone-Num{
    background-color: rgb(238,236,236);
    outline: solid rgb( 196, 192, 192);
    border-radius: 2%;
    height: 30px;
    width: 200px;
    text-align: center;
    padding: 10px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.5;
    color: rgb( 111, 111, 111);
}

.Password {
    background-color: rgb(238,236,236);
    outline: solid rgb( 196, 192, 192) ;
    border-radius: 2%;
    height: 30px;
    width: 200px;
    text-align: center;
    padding: 10px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb( 111, 111, 111);
}

/* can also do it like
.Phonenumber, .Password{
} to combine the 2 */

button {
    width:200px;
}