body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Phone-Num,.Password{
    background-color: rgb(238, 236, 236);
    outline: solid rgb(196, 192, 192);
    border-radius: 2%;
    height: 30px;
    width: 200px;
    text-align: center;
    padding: 10px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(111, 111, 111);
    
}
button {
    width: 200px;
    background-color: rgb(37, 160, 231);
    border: none;
    color: aliceblue;
    border-radius: 5px;
    width: 215px;
    height: 20px;

}


.comments{
    opacity:30%;
}

#likes{
    font-weight: bold;
}

nav{
    /* background-color: aqua; */
    display: flex;
    justify-content:flex-start;
    width: 100%;

}

#accountNAV{
    justify-content: space-between;
    align-items: center;
    width:50%
}

.container{
    display: flex;
}

.containerCOLUMN{
    display: flex;
    flex-direction: column;
}

.navBTN{
    border-radius: 8px;
    width: 70px;
    height: 30px;
}

#signup{
    background-color: aliceblue;
    color: rgb(37, 160, 231);
}

#header{
    width: 50%;
    justify-content: space-between;
}

#photo{
    width: 30%;
    justify-content: center;
}

.material-icons.md-48{
    font-size: 150px;
}

#profileINFO{
    height: 20vh;
    width: 65%;
    flex-direction: column;
}

#buttonDIV2{
    justify-content: space-between;
    width: 80%
}

.profileBTN{
    border-radius: 8px;
    width: 48%;
    height: 35px;
    font-weight: bolder;
    background-color: rgb(217, 214, 214);
    color: rgb(12, 12, 12);
}

#bioDIV{
    flex-direction: column;
    width: 50%;
}

#feed{
    flex-wrap: wrap;
    width: 50%;
}

